<div class="media" id="comment_<%= comment.id %>">
  <p class="pull-right"><small><%= comment.created_at %></small></p>
  <%= link_to (gravatar_for comment.user), comment.user,
    class: "media-left" %>
  <div class="media-body">
    <h4 class="media-heading user_name">
      <%= comment.user.name %> &nbsp &nbsp
      <span class ="text-warning">&#9733; &#9733; &#9733; &#9733;</span>
    </h4>
    <%= comment.content %>
    <% if logged_in? && (comment.user_id == current_user.id) %>
      <p><small>
        <%= link_to "Edit", edit_comment_path(comment), remote: true %> -
        <%= link_to "Delete", comment_path(comment), method: :delete,
          remote: true %>

      </small></p>
    <% end %>
  </div>
</div>
