<div class="well" >
  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <div class = "col-md-4">
          <%= image_tag product.image_link.url, size: "150x150" %>
        </div>
        <div class = "col-md-8">
          <h4><%= product.name %></h4>
          <p><%= product.description.truncate 100, separator: " " %></p>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <%= form_for order_detail, remote:true do |f| %>
        <div class="row">
          <div class ="col-md-3">
            <h4 class="text-right">Unit Price:
              <span style="color: green">
              <%= number_to_currency order_detail.unit_price %>
              </span>
            </h4>
          </div>

          <div class = "col-md-3">
            <%= f.number_field :quantity, value: order_detail.quantity.to_i,
              class: "form-control", min: 1 %>
            <%= f.hidden_field :product_id, value: product.id %>
          </div>

          <div class = "col-md-3">
            <h4 class="text-right">Total Price: <span style="color: green">
              <%= number_to_currency order_detail.sub_total %></span></h4>
          </div>

          <div class = "col-md-2 center">
            <div class = "bottomspace">
              <%= f.submit t(".update"), class: "btn btn-primary" %>
            </div>
            <div class = "center">
              <%= link_to t(".delete"), order_detail_path(order_detail),
                {data: {confirm: "Are you sure?"},
                method: :delete, remote: true, class: "btn btn-danger"} %>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
