<li class="list-group-item">
  <div class = "row">
    <div class = "col-md-8">
      <%= link_to category.name, category %>
    </div>
    <% if user_signed_in? && current_user.admin? %>
      <div class = "col-md-1" id="delete-button">
        <%= form_for [:admin, category] do |f| %>
          <%= f.hidden_field :name, value: category.name %>
          <%= f.hidden_field :status, value: "deleted" %>
          <%= f.submit t(".delete"), class: "btn btn-danger",
            data: {confirm: t(".are_you_sure?")} %>
        <% end %>
      </div>
      <div class = "col-md-1">
        <%= link_to t(".edit"), (edit_admin_category_path category),
          class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</li>
