<% provide(:title, t(".heading")) %>
<h1 class="text-center"><%= t ".heading" %></h1>

<div class="container">

  <div class = "row bottomspace">
    <div class="col-md-3">
      <%= link_to t(".add"), new_admin_product_path,
        class: "btn btn-primary" if user_signed_in? && current_user.admin? %>
    </div>
  </div>

  <div class="row">
    <%= search_form_for @search, method: :get do |f| %>
      <div class="col-md-3">
        <%= f.label :category_id_eq, "Category:" %>
        <%= f.collection_select :category_id_eq, list_categories, :id, :name,
        {include_blank: t("choose_category")}, {class: "form-control"} %>
      </div>
      <div class="col-md-3">
        <%= f.label :price_gteq, "Price from:" %>
        <%= f.number_field :price_gteq, min: 0, class: "form-control",
          placeholder: "Min" %>
      </div>
      <div class="col-md-3">
        <%= f.label :price_gteq, "To:" %>
        <%= f.number_field :price_lteq, class: "form-control",
          placeholder: "Max" %>
      </div>
      <div class="col-md-1 col-centered">
        <%= submit_tag "Filter", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <%= render @products %>
  </div>
  <div class="container center">
    <%= will_paginate @products %>
  </div>
</div>
<% if user_signed_in? && current_user.normal? %>
  <div id="mybutton">
    <%= link_to "Feedback", new_suggestion_path, class: "feedback" %>
  </div>
<% end %>
